<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>affichageSalle</title>
    <link href="../CSS/affichageSalle.css" rel="stylesheet">
</head>
<body>
<a href="../../Controller/MenuPrincipal.php"><img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF"></a>
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a class="underline-animation" href="../../Controller/MenuPrincipal.php">Accueil</a></li>
            <li><a class="underline-animation" href="../../Controller/EDT.php">Emploie du temps</a></li>
            <li><a class="underline-animation" href="#">Messagerie</a></li>
            <li><a class="underline-animation" href="creationCompte.html">Créer un compte</a></li>
            <li><a class="underline-animation" href="../../Controller/Deconnexion.php">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<script>
    const burger = document.querySelector('.burger');
    const menu = document.querySelector('.menu');

    burger.addEventListener('click', () => {
        menu.classList.toggle('active');
        burger.classList.toggle('toggle');
    });
</script>
<br><br><br><br><br>
<form action="../../Controller/affichageSalle.php" method="POST">
    <label for="idJour">Choisir le jour :</label><br><br>
    <input class="idJour" type="date" id="idJour" name="idJour"><br><br><br>

    <label for="idHeure">Choisir l'heure :</label><br><br>
    <select name="idHeure" id="idHeure" class="idHeure">
        <option value="8:00">8:00</option>
        <option value="9:30">9:30</option>
        <option value="11:00">11:00</option>
        <option value="12:30">12:30</option>
        <option value="14:00">14:00</option>
        <option value="15:30">15:30</option>
        <option value="17:00">17:00</option>
    </select><br><br><br>

    <input class="buttonSeConfirmer" type="submit" value="Confirmer">

</form>
<br><br>

</body>
</html>