<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>affichageSalle</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
</head>
<body>
<a href="../../Controller/MenuPrincipal.php"><img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF"></a>
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a class="underline-animation" href="../../Controller/EDT.php">Emploie du temps</a></li>
            <li><a class="underline-animation" href="#">Messagerie</a></li>
            <li><a class="underline-animation" href="creationCompte.html">Créer un compte</a></li>
            <li><a class="underline-animation" href="../../Controller/Deconnexion.php">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<script>
    const burger = document.querySelector('.burger');
    const menu = document.querySelector('.menu');

    burger.addEventListener('click', () => {
        menu.classList.toggle('active');
        burger.classList.toggle('toggle');
    });
</script>
<br><br><br><br><br>
<div class="big-container">
<div class="sub-container">
<form action="../../Controller/affichageSalle.php" method="POST">
    <h1><u>Voir la disponibilité des salles</u></h1><br><br><br>
    <label class="textContainer" for="idJour"><B>Choisir le jour :</B></label><br><br>
    <input class="idJour" type="date" id="idJour" name="idJour"><br><br><br>

    <label class="textContainer" for="idHeure"><B>Choisir l'heure :</B></label><br><br>
    <select name="idHeure" id="idHeure" class="idHeure">
        <option class="textContainer" value="8:00">8:00</option>
        <option class="textContainer" value="9:30">9:30</option>
        <option class="textContainer" value="11:00">11:00</option>
        <option class="textContainer" value="12:30">12:30</option>
        <option class="textContainer" value="14:00">14:00</option>
        <option class="textContainer" value="15:30">15:30</option>
        <option class="textContainer" value="17:00">17:00</option>
    </select><br><br><br>

    <input class="buttonSeConfirmer" type="submit" value="Confirmer">

</form>
</div>
</div>
<br><br>
<footer class="footer">
    <p>&copy; 2024 - SAE Emploi du temps. Rémi | Dorian | Matthéo | Bastien | Noah.</p>
</footer>
</body>
</html>