<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choix EDT</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
</head>
<body>
<h1 class="titre">Bienvenue sur votre emploi du temps ! </h1><br>
<h2>Avant de pouvoir y accéder, étant donné que c'est votre
première connexion, vous devez changer votre Mot de passe.</h2>
<form id="changeMDPForm" name ="changeMDPForm" method='post' action="../../Controller/changeMDP.php">
    <input type='text' id='mdp' name='mdp' placeholder='Nouveau mot de passe' class="newPSW" required>
    <input type='submit' value='Enregistrer'>
</form>
<script src="../../Model/JavaScript/newMDP.js"></script>
</body>
</html>
