<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>ChangementMDP</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
    <link class="eye" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF">
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>
<br><br><br><br>
<h1>Modification de votre mot de passe.</h1>
<h1></h1>
<div class="big-container2">
    <div class="sub-container2">
        <form id="changeMDPForm" name ="changeMDPForm" method='post' action="../../Controller/changeMDP.php">
            <div class="input-container">
                <span class="eyeMdpOublie" id="togglePassword">
                    <i class="fas fa-eye" id="passwordSymbole"></i> <!-- Icône d'œil initiale -->
                </span>
                <input type='password' id='idpsw' name='mdp' placeholder='Nouveau mot de passe ' class="newPSW" required>
            </div>
            <div class="input-container">
                <span class="eyeMdpOublie" id="togglePassword2">
                    <i class="fas fa-eye" id="passwordSymbole2"></i> <!-- Icône d'œil initiale -->
                </span>
                <input type='password' id='mdpverify' name='mdpverify' placeholder='Confirmer mot de passe' class="newPSW" required>
            </div>
            <label id="erreur" style="color: red; display: none"> <b>Les mots de passe ne correspondent pas.</b></label><br>
            <input type='submit' class="buttonMDRForgotten" value='Enregistrer'>
        </form>
    </div>
</div>

<script src="../../Model/JavaScript/newMDP.js"></script>
<footer class="footer">
    <p>&copy; 2024 - SAE Emploi du temps. Rémi | Dorian | Matthéo | Bastien | Noah.</p>
</footer>

<script src="../../Model/JavaScript/Oeuil.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {//Charge le code est appelle les fonctions pour ne pas declaré d'erreurs
        oeuil();
        oeuil2();
    });
</script>

</body>
</html>
