<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code de Vérification</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
</head>
<body>
<h2>Vérification</h2>
    <form id="codeVerifForm" method="post" action="../../Controller/codeVerif.php">
        <input type="number" id="code" name ="code" placeholder="Entrez votre code">
        <input type="submit" value="Soumettre">
    </form>
</body>
<script src="../../Model/JavaScript/codeVerif.js"></script>
</html>