<!DOCTYPE html>
<html lang="fr">


<head>
    <meta charset="UTF-8">
    <title>Création d'un compte</title>
    <link href="../CSS/creationCompteStyle.css" rel="stylesheet">
</head>
<body>
<a href="../../Controller/MenuPrincipal.php"><img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF"></a>
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a class="underline-animation" href="/Controller/MenuPrincipal.php">Accueil</a></li>
            <li><a class="underline-animation" href="../../Controller/EDT.php">Emploie du temps</a></li>
            <li><a class="underline-animation" href="#">Messagerie</a></li>
            <li><a class="underline-animation" href="../../View/HTML/creationCompte.html">Créer un compte</a></li>
            <li><a class="underline-animation" href="Identification.html">Deconnexion</a></li>
        </ul>
    </nav>
</header>

<script>
    const burger = document.querySelector('.burger');
    const menu = document.querySelector('.menu');

    burger.addEventListener('click', () => {
        menu.classList.toggle('active');
        burger.classList.toggle('toggle');
    });
</script>
<br><br>

<h1>Création d'un compte</h1><br><br><br>
<form action="../../Model/Classe/creationCompte.php" method="post">
    <div class="new-select">
    <select name="type">
        <option value="secretariat">Secrétariat</option>
        <option value="etudiant">Étudiant</option>
        <option value="prof">Professeur</option>
        <option value="admin">Administrateur</option>
    </select><br>
    </div>
    <div class="input-container">
    <input type="text" class="input" id="nom" name="nom" placeholder=" ">
        <label for="nom" class="placeholder">Nom</label><br>
    </div>
    <div class="input-container">
    <input type="text" class="input" id="prenom" name="prenom" placeholder=" ">
        <label for="prenom" class="placeholder">Prenom</label><br>
    </div>
    <label for="pwd"> Définir un mot de passe </label><br>
    <h4>Le mot de passe doit contenir minimum 8 caractères, 1 chiffre et un caractère spécial</h4><br>
    <div class="input-container">
        <input type="text" class="input" id="pwd" name="pwd" placeholder=" ">
        <label for="pwd" class="placeholder">Mot de passe</label>
    </div>
    <input type="submit" value="Inscrire">
</form>

<footer class="footer">
    <p>&copy; 2024 - SAE Emploi du temps. Rémi | Dorian | Matthéo | Bastien.</p>
</footer>
</body>
</html>