<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mot de passe Oublié</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
    <link class="eye" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<h2>Changement de votre mot de passe</h2>
<form id="MdpOublieForm" name ="MdpOublieForm" method='post' action="../../Controller/mdpOublie.php">
    <input type='email' id='email' name='email' placeholder='Votre email uphf' required>
    <button>Envoyer</button>
    <button >Renvoyer code</button>

</form>
</body>
</html>
