<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Messagerie EDT</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
    <link class="eye" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF">
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a class="underline-animation" href="../../Controller/affichageSalleCurrent.php">Salles libres actuelles</a></li>
            <li><a class="underline-animation" href="../../Controller/EDTsalleLibres.php">Emploi du temps des salles libres</a></li>
            <li><a class="underline-animation" href="../../Controller/EDT.php">Emploie du temps</a></li>
            <li><a class="underline-animation" href="messagerie.html">Messagerie</a></li>
            <li><a class="underline-animation" href="creationCompte.html">Créer un compte</a></li>
            <li><a class="underline-animation" href="../../Controller/Deconnexion.php">Deconnexion</a></li>
        </ul>
    </nav>
</header>
<body>
<form class="">
    <div class="DIVmail">
        <h2>Envoyer un e-mail</h2>
        <form action="#" method="POST">
            <label for="email">E-mail :</label>
            <input type="email" id="email" name="email" required placeholder="Votre e-mail">

            <label for="sujet">Sujet :</label>
            <input type="text" id="sujet" name="sujet" required placeholder="Sujet de l'e-mail">

            <label for="message">Message :</label>
            <textarea id="message" name="message" required placeholder="Votre message"></textarea>

            <button type="submit">Envoyer</button>
        </form>
    </div>
</form>
</body>
</html>