<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demander un report</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<header>
  <nav>
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="menu">
      <li><a class="underline-animation" href="../../Controller/affichageSalleCurrent.php">Salles libres actuelles</a></li>
      <li><a class="underline-animation" href="../../Controller/EDTsalleLibres.php">Emploi du temps des salles libres</a></li>
      <li><a class="underline-animation" href="../../Controller/EDT.php">Emploie du temps</a></li>
      <li><a class="underline-animation" href="messagerie.html">Messagerie</a></li>
      <li><a class="underline-animation" href="creationCompte.html">Créer un compte</a></li>
      <li><a class="underline-animation" href="../../Controller/Deconnexion.php">Deconnexion</a></li>
    </ul>
  </nav>
</header>
<body>
<form>
  <label for="dateReport">Date du cours</label>
  <input type="date" id="dateReport" name="dateReport" required placeholder=" ">
  <label for="sujet">Sujet </label>
  <input type="text" id="sujet" name="sujet" required placeholder="Raison">
</form>

</body>
</html>