.logoUPHF {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 150px;
    border-radius: 5px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(27, 165, 50);
    height: 75px;
}

nav {
    position: relative;
}

/* Burger icon */
.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}

.burger span {
    background-color: #fff;
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Animation du burger */
.burger.toggle span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.burger.toggle span:nth-child(2) {
    opacity: 0;
}

.burger.toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Menu */
.menu {
    position: absolute;
    top: 1%;
    right: 1%;
    list-style: none;
    background-color: rgb(27, 165, 50);
    padding: 10px;
    display: none;
    flex-direction: column;
}

.menu.active {
    display: flex;
    top: 200%;
}

.menu li {
    margin: 10px 0;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.menu li a:hover {
    color: #f39c12;
}

/* Media queries pour mobile */
@media (min-width: 900px) {
    .burger {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
    }

    .menu li {
        margin: 0 15px;
    }
}


.underline-animation {
    display: inline-block;
    position: relative;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

.underline-animation::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #C8A14E; /* Couleur du soulignement */
    transition: width 0.3s ease-in-out;
}

.underline-animation:hover::after {
    width: 100%;
}