<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Identification</title>
    <link href="../CSS/CSSBasique.css" rel="stylesheet">
    <link class="eye" rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<img src="../../Ressource/logouphf2.png" class="logoUPHF" alt="Logo de l'UPHF">
<header>
    <nav>
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a class="underline-animation" href="#">À propos</a></li>
        </ul>
    </nav>
</header>

<br><br>
<h1 class="titreID">SAE - Emploi du temps</h1>
<br><br>
<div class="form-center">
    <form class="formConnection" action="../../Controller/Identification.php" method="post" name="formID" id="formID">
        <div class="passwordContainer"><br>
            <h3 class="titreForm">Entrez votre identifiant et votre mot de passe</h3><br>
            <div class="input-container">
                <input type="text" id="idcompte" name="id" class="compte" placeholder=" " required><br><br>
                <label for="idcompte" class="placeholderActif" id="labelIdentifiant">Identifiant *</label>
            </div>


            <div class="input-container">
                <span class="eye" id="togglePassword">
                    <i class="fas fa-eye" id="passwordSymbole"></i> <!-- Icône d'œil initiale -->
                </span>
                <input type="password" id="idpsw" name="pwd" class="password" placeholder=" " required><br><br>
                <label for="idpsw" class="placeholderActif" id="labelPsw">Mot de passe *</label>
                <p class="textErreur" id="idFaux" style="display: none">Identifiant et/ou mot de passe incorrect</p><br>
                <b>Vos identifiants sont strictement confidentiels et ne doivent en aucun
                    cas être transmis à une tierce personne.</b>
            </div>

            <input class="buttonSeConnecter" type="submit" value="Se connecter">
        </div>
        <br>
    </form>
</div>
<br><br><br>
<form class="mdpForgotten">
    <a href="mdpOublie.html" >Mot de passe oublié</a>
</form>
<script src="../../Model/JavaScript/Identification.js"></script>
<script src="../../Model/JavaScript/edtQuotidien.js"></script>
<script src="../../Model/JavaScript/Oeuil.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {//Charge le code est appelle les fonctions pour ne pas declaré d'erreurs
        oeuil();
    });
</script>

<footer class="footer">
    <p>&copy; 2024 - SAE Emploi du temps. Rémi | Dorian | Matthéo | Bastien | Noah.</p>
</footer>
</body>
</html>