

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation d'inscription </title>
</head>
<body>
<img src="../Image/LogoUPHF.png" alt="Logo de l'UPHF" width="200">
<h3>
    Confirmation d'inscription<br><br>
</h3>
<p>

    Merci d'avoir soumis votre demande d'inscription à l'université de Maubeuge.<br>

    Nous vous confirmons que votre demande a bien été reçue par le secrétariat.<br><br>


    Elle sera examinée et traitée dans un délai maximum de <strong> 6 jours ouvrables.</strong> Vous recevrez une notification par email une fois que votre demande aura été finalisée.<br>

    En cas de questions ou de besoin d'assistance supplémentaire, n'hésitez pas à contacter notre équipe.<br><br>


    Merci de votre confiance,<br>

    L'équipe administrative<br>
</p>
<button>Revenir à l'accueil</button>
</body>
</html>