@media screen and (min-width: 80rem) {
    .container {
        margin: 3em 2em;
    }
}

.changerSemaine{
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: rgb(27, 133, 165);
    color: white;
    text-transform: uppercase;
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e2e2ff;
}

td.empty {
    background-color: #ffffff;
}

td.filled {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

td.filled:hover {
    background-color: #0056b3;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    margin-bottom: 10px;
}


/* Anglais */
.cours-anglais-cm {
    background-color: #003366; /* Bleu foncé */
    color: white;
}
.cours-anglais-td {
    background-color: #336699; /* Bleu normal */
    color: white;
}
.cours-anglais-tp {
    background-color: #99ccff; /* Bleu clair */
    color: black;
}

/* Informatique */
.cours-informatique-cm {
    background-color: #660000; /* Rouge foncé */
    color: white;
}
.cours-informatique-td {
    background-color: #cc3333; /* Rouge normal */
    color: white;
}
.cours-informatique-tp {
    background-color: #ff9999; /* Rouge clair */
    color: black;
}

/* Mathématiques */
.cours-mathematiques-cm {
    background-color: #004d00; /* Vert foncé */
    color: white;
}
.cours-mathematiques-td {
    background-color: #339933; /* Vert normal */
    color: white;
}
.cours-mathematiques-tp {
    background-color: #99cc99; /* Vert clair */
    color: black;
}

/* Communication */
.cours-communication-cm {
    background-color: #663300; /* Marron foncé */
    color: white;
}
.cours-communication-td {
    background-color: #cc6600; /* Marron normal */
    color: white;
}
.cours-communication-tp {
    background-color: #ffcc99; /* Marron clair */
    color: black;
}

/* Éco/Gestion */
.cours-eco-gestion-cm {
    background-color: #4d004d; /* Violet foncé */
    color: white;
}
.cours-eco-gestion-td {
    background-color: #993399; /* Violet normal */
    color: white;
}
.cours-eco-gestion-tp {
    background-color: #e699e6; /* Violet clair */
    color: black;
}

