<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Identification</title>
    <link href="Identification.css" rel="stylesheet">
    <link class="eye" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="../Model/Identification.js" defer></script>
</head>
<body>
<img src="../Image/LogoUPHF.png" class="logoUPHF" alt="Logo de l'UPHF" width="200">

<h3>Entrez votre identifiant et votre mot de passe.</h3>

<form class="formConnection" action="../Model/Identification.php" method="post">
    <div class="passwordContainer">
        <label for="id">Identifiant :</label>
        <input type="text" id="id" name="id" class="password" required><br><br>

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" class="password" required>
        <span class="eye" id="togglePassword">
            <i class="fas fa-eye"></i> <!-- Icône d'œil initiale -->
        </span>
    </div>
    <br>
    <input class="button" type="submit" value="Se connecter">
</form>
</body>
</html>