.form.formConnection {
    justify-content: center;
}

.uphf{
    text-align: right;
}

.passwordContainer {
    position: relative;
    width: 200px;
}

input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
}

.eye {
    position: absolute;
    top: 85%;
    right: -10px;
    transform: translateY(-50%);
    border-radius: 50%; /* Forme circulaire */
}